# Dependencias
node_modules/

# Cache de Vite
.vite/

# Build
dist/
dist-ssr/

# Variables de entorno
*.local
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Miscelánea
*.suo
*.sw?
